<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Манифесты Заказы НакладныеSoap" maxBufferPoolSize="999999999"
                    maxBufferSize="999999999" maxReceivedMessageSize="999999999">
                    <security mode="Transport" />
                </binding>
                <binding name="Манифесты Заказы НакладныеSoap1" maxBufferPoolSize="999999999"
                    maxBufferSize="999999999" maxReceivedMessageSize="999999999" />
                <binding name="AgentsWebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="AgentsWebServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://agents.major-express.ru/manifest.asmx"
                binding="basicHttpBinding" bindingConfiguration="Манифесты Заказы НакладныеSoap"
                contract="megaAPI.МанифестыЗаказыНакладныеSoap" name="Манифесты Заказы НакладныеSoap" />
            <endpoint address="https://ltl-ws.major-express.ru/liga/agents.asmx" 
                binding="basicHttpBinding" bindingConfiguration="AgentsWebServiceSoap"
                contract="liga.AgentsWebServiceSoap" name="AgentsWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>